<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gulp</title>
    <link rel="stylesheet" href="src/css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">

</head>
<body>
    <div id="vue">
        <div class="notify" v-show="show_notify">
            {{ text_notify }}
            <button @click="hideNotify()" class="notify__close">X</button>
        </div>



        <!-- @ --- v-on -->
        <!-- : --- v-bind -->
        
        <!-- <h1>{{ show ? title : 'Hello'}}</h1> -->
        <!-- <h1>{{ title.toUpperCase() }}</h1> -->
        <!-- <h1 v-html="show ? title : 'Hello'" 
        class="title" v-bind:class="show ? 'show' : 'noshow'"></h1> -->
        <h1>{{ firstLetterToUpperCase(title) }}</h1>
        <label>
            <input type="checkbox" v-model="show_notify">
            Show notify
        </label>
        <input type="text" @.prevent.change="valid()" v-model="input_text">
        {{ log(input_text) }}
        <h2>{{ input_text }}</h2>
        <p>{{error_text}}</p>

        <br>
        <h2>Average price is {{ averagePrice | viewPrice('$') }}</h2>

        <div class="container">
            <div class="row gy-2">

                <div class="col-sm-6 col-md-4 col-xl-3" :id="'product' + i"
                    v-for="(product, i) in products" :key="i">
                    <div class="card">
                        <img :src="'src/image/' + product.image" :alt="product.title">
                        <div class="card__name text-center mt-2 mb-1">{{ i + " - " +  product.title }}</div>
                        <!-- <div class="price" v-if="product.discount">
                            <span class="price_new">
                                {{ getNewPrice(product)  }}
                            </span>
                            <span class="price_old">{{ product.price }}</span>
                        </div>
                        <div class="price" v-else>
                            <span class="price_new">
                                {{ product.price  }}
                            </span>
                        </div> -->
                        <div class="price" >
                            <span class="price_new">
                                {{ getNewPrice(product) | viewPrice() }}
                            </span>
                            <span class="price_old" v-if="product.discount">
                                {{ product.price | viewPrice('$') }}
                            </span>
                        </div>
                    <div class="scol-12 px-3">
                        <button type="button" class="w-100 btn btn-primary">Primary</button>
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./src/js/script.js"></script>

</body>
</html>