/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
   transition: all 0.3s ease 0.5s;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}


html,
body {
   padding: 0;
   margin: 0;
   border: 0;

}

@font-face {
   font-family: 'Proxima Nova Regular';
   src: url('../font/ProximaNovaRegular/ProximaNova-Regular.eot');
   src: url('../font/ProximaNovaRegular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
      url('../font/ProximaNovaRegular/ProximaNova-Regular.woff') format('woff'),
      url('../font/ProximaNovaRegular/ProximaNova-Regular.woff2') format('woff2'),
      url('../font/ProximaNovaRegular/ProximaNova-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Proxima Nova Bold';
   src: url('../font/ProximaNovaBold/ProximaNova-Bold.eot');
   src: url('../font/ProximaNovaBold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
      url('../font/ProximaNovaBold/ProximaNova-Bold.woff') format('woff'),
      url('../font/ProximaNovaBold/ProximaNova-Bold.woff2') format('woff2'),
      url('../font/ProximaNovaBold/ProximaNova-Bold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Proxima Nova Semibold';
   src: url('../font/ProximaNovaSemibold/ProximaNova-Semibold.eot');
   src: url('../font/ProximaNovaSemibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
      url('../font/ProximaNovaSemibold/ProximaNova-Semibold.woff') format('woff'),
      url('../font/ProximaNovaSemibold/ProximaNova-Semibold.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'PT Sans Regular';
   src: url('../font/PTSans-Regular/PTSans-Regular.eot');
   src: url('../font/PTSans-Regular/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../font/PTSans-Regular/PTSans-Regular.woff') format('woff'),
      url('../font/PTSans-Regular/PTSans-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}


@font-face {
   font-family: 'PT Sans Bold';
   src: url('../font/PtSansBold/ PTSans-Bold.eot');
   src: url('../font/PtSansBold/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../font/PtSansBold/PTSans-Bold.woff') format('woff'),
      url('../font/PtSansBold/PTSans-Bold.woff2') format('woff2'),
      url('../font/PtSansBold/PTSans-Bold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'PT Sans Italic';
   src: url('../font/PtSansitalic/PTSans-Italic.eot');
   src: url('../font/PtSansitalic/PTSans-Italic.eot?#iefix') format('embedded-opentype'),
      url('../font/PtSansitalic/PTSans-Italic.woff') format('woff'),
      url('../font/PtSansitalic/PTSans-Italic.woff2') format('woff2'),
      url('../font/PtSansitalic/PTSans-Italic.ttf') format('truetype');
   font-weight: 400;
   font-style: italic;
}

/*

$font-title:'Proxima Nova Regular',
sans-serif;

$font-main:'Proxima Nova Bold',
sans-serif;
*/

body {
   font-family: 'Proxima Nova Regular', sans-serif;

}

main {
   width: 100%;
}

.home {
   background: url(../images/Rectangle9.png) center center no-repeat;
   background-size: cover;
   min-height: 100vh;
   width: 100%;
   background-color: #aea9c5;
   background-attachment: fixed;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
}

.container {
   max-width: 1180px;
   margin: 0 auto;

}

.header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 50;
   width: 100%;
}

.header::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #b8b1cd;
   opacity: 0.9;
   z-index: 3;
}

.header__body {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   padding: 0 20px;
}

.logo {
   z-index: 3;
   animation: rotate 3s 2;
   transition: all 0.3s ease 0.2s;
}

@keyframes rotate {
   0% {
      transform: rotate(0deg);
   }

   35% {
      transform: rotate(55deg);
      filter: blur(2px) grayscale(20%);
   }


   75% {
      transform: rotate(-55deg);
      filter: blur(2px) grayscale(20%);
   }

   100% {
      transform: rotate(0deg);
   }
}

.nav {
   margin-left: 200px;


   @media (max-width: 870px) {
      margin-left: 100px;

   }

   @media (max-width: 580px) {
      margin-left: 0;

   }
}

.nav__list {
   list-style: none;
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: space-between;
   position: relative;
   z-index: 5;
}

.nav__item {
   margin: 0px 20px;

   @media (max-width: 870px) {
      margin: 0px 10px;

   }
}

.nav__link {
   text-transform: uppercase;
   color: #fff;
   font-size: 24px;
   line-height: 60px;

   @media (max-width: 1080px) {
      font-size: 20px;

   }

   @media (max-width: 870px) {
      font-size: 16px;

   }

   @media (max-width: 870px) {
      font-size: 20px;
      font-weight: 600;

   }
}

.nav__link:hover {
   text-shadow: 1px 1px 3px #f9f7fc;
}

.header__logo:hover {
   transform: rotate(45deg);
   transition: all 0.3s ease 0.5s;
   filter: blur(2px) sepia(80%);
}

@media (max-width:580px) {
   body.lock {
      overflow: hidden;
   }

   .header__burger {
      display: block;
      position: relative;
      width: 40px;
      height: 20px;
      z-index: 10;

   }

   .header__burger::before,
   .header__burger::after {
      content: '';
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
   }

   .header__burger::before {
      top: 0;
   }

   .header__burger::after {
      bottom: 0;
   }

   .header__burger span {
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 9px;
      transition: all 0.3s ease 0s;
   }

   .header__burger.active::before {
      transform: rotate(45deg);
      top: 9px;
   }

   .header__burger.active::after {
      transform: rotate(-45deg);
      bottom: 9px;
   }

   .header__burger.active span {
      transform: scale(0);
      top: 9px;
   }

   .nav {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      position: fixed;
      background-color: #9f9acf;
      opacity: 0.9;
      z-index: 1;
      padding: 100px 20px;
      transition: all 0.3s ease 0s;
      overflow: auto;
      text-align: center;
   }

   .nav.active {
      top: 0;
   }

   .nav__list {
      display: block;
   }

}

//////////////home//////

.home__block {
   color: #fff;
   text-align: center;
}

.home__title {
   font-size: calc(40px + 20 * (100vw / 1180));
   line-height: 1;
   font-family: 'Proxima Nova Bold', sans-serif;
   text-transform: uppercase;
   font-weight: 600;
   margin-bottom: 45px;
   position: relative;
   animation: text 4s 1;
   letter-spacing: normal;
}

@keyframes text {
   0% {
      letter-spacing: normal;
   }

   30% {
      letter-spacing: 10px;
      filter: blur(3px) grayscale(50%);
   }

   85% {
      letter-spacing: normal;
   }
}

.home__subtitle {
   font-size: calc(24px + 6 * (100vw / 1180));
   font-style: italic;
   padding: 0 10px;

}

///////////////////////about////////////
.about {
   margin-bottom: 100px;
}


.about__content {
   margin: 125px 0;
   height: 100%;
   width: 100%;
   display: flex;
   flex-wrap: row wrap;

   @media (max-width: 580px) {
      margin: 4.3em 0;

   }

   &_left {
      width: 35%;
      position: relative;
      text-align: center;
   }

   &_right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 65%;
      padding-left: 15%;
   }
}

@media (max-width: 870px) {
   .about__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &_left {
         width: 100%;

      }

      &_right {
         width: 80%;
         padding-left: 0;

      }
   }


}

.Img_AboutUs {
   max-width: 100%;

}

.left__icon {
   position: absolute;
   top: 10%;
   left: calc(37% - 36px);
   z-index: 1;
   text-align: center;

   @media (max-width: 980px) {
      left: calc(33% - 34px);

   }

   @media (max-width: 870px) {
      left: calc(40% - 24px);

   }
}

.Icon_AboutUs {
   margin: 0 auto;
   width: 50px;
   height: 54px;

}


.Text_AboutUs {
   text-transform: uppercase;
   color: #fff;
   font-size: calc(24px + 12 * (100vw / 1180));
   line-height: 47px;
   font-family: 'Proxima Nova Semibold', sans-serif;
   font-weight: 500;
   padding-top: 45px;
}

.about__text {
   padding: 70px 0;

}

.about__text p {
   font-size: 20px;
   color: #665f60;
   padding-bottom: 20px;

}


.about__text:last-child {
   padding-bottom: 100px;

}

.btn {
   font-size: 20px;
   line-height: 50px;
   background-color: transparent;
   border: 2px solid #7d7a7c;
   color: #7d7a7c;
   font-style: italic;
   width: 195px;
   cursor: pointer;
}

.btn:hover {
   background: rgba(0, 0, 0, 0);
   color: #9f9acf;
   box-shadow: inset 0 0 0 3px #9f9acf;
   transform: scale(1.2);
   transition: all 0.3s ease 0.5s;
   border: 2px solid #9f9acf;

}

.works {
   background: url(../images/Works.png) 0 0/100% no-repeat;
   width: 100%;
   background-size: cover;
   padding: 50px 0 60px;
   position: relative;
   min-width: 0;

   &__btn {
      border: 2px solid #fff;
      color: #fff;
      margin-top: 40px;

      @media (max-width:980px) {
         margin-top: 0px;
      }

   }
}

.works__content {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.title {
   text-transform: uppercase;
   font-size: 36px;
   font-family: 'Proxima Nova Semibold', sans-serif;
   font-weight: 500;
   margin: 35px 0 0;
}

.works__title {
   color: #fff;
   margin: 35px 0 65px;

}

.slider {
   position: relative;
   padding: 0 100px;
   width: 100%;
   max-width: 1600px;
   min-width: 0;

   @media (max-width:780px) {
      padding: 0 50px;

   }

   @media (max-width:580px) {
      padding: 0 10px;

   }
}

.slider__item {
   display: flex;
   justify-content: center;

}

.slider__item img {
   width: 100%;
   height: 100%;

}

.slick-track {
   display: flex;
   align-items: flex-start;
   justify-content: center;

}

.slick-list {
   overflow: hidden;
   width: 100%;
}

.slider .slick-arrow {
   position: absolute;
   top: 40%;
   z-index: 10;
   font-size: 0;
   width: 47px;
   height: 47px;
   margin-top: -50px;

   @media (max-width:580px) {
      width: 37px;
      height: 37px;

   }
}

.slider .slick-arrow.slick-prev {
   left: 0;
   background: url(../images/left.png) 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
   right: 0;
   background: url(../images/right.png) 0 0 / 100% no-repeat;
}

.slider .slick-dots {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 40px;
}

.slider .slick-dots li {
   list-style: none;
   margin: 10px;

}

.slider .slick-dots button {
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border: 2px solid #fff;
   background-color: transparent;
   font-size: 0;

}

.slider .slick-dots li.slick-active button {
   background-color: #fff;
}

.slider .slick-arrow.slick-disabled {
   opacity: 0.3;
}

.slick-initialized .slick-slide {
   display: flex;
   align-items: center;
   justify-content: center;
}

button.works__btn:hover {
   color: #fff;
   box-shadow: inset 0 0 0 3px #fff;
   transform: scale(1.2);
   transition: all 0.3s ease 0.5s;
   border: 2px solid #fff;

}


///////////service

.service__content {
   display: grid;
   grid-template: repeat(2, 1fr) / minmax(280px, 380px) minmax(280px, 380px) minmax(300px, 410px);
   padding: 10px;
   justify-content: center;

}

@media (max-width: 890px) {
   .service__content {
      display: grid;
      grid-template: repeat(3, 1fr) / minmax(280px, 380px) minmax(300px, 410px);
   }

   .service__content_item {
      border: 1px solid #dbdbdb;

   }
}

@media (max-width: 580px) {
   .service__content {
      display: grid;
      grid-template: repeat(5, 1fr) / minmax(300px, 410px);
      max-width: 580px;
      justify-content: center;
   }
}

.service__content_item {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.item {
   width: 100%;
   min-height: 400px;
   color: #665f60;
   padding: 80px 0px;

   &__graphic,
   &__mobile {
      background-color: #dbdbdb;
   }

   &__service {
      background: url(../images/fonService.png) 0 0 no-repeat;
      grid-row: span 2;
      color: #fff;
   }


   &__title {
      font-family: 'PT Sans Bold', sans-serif;
      font-size: 24px;
      padding: 30px 0px 20px 0px;
   }

   &__text {
      text-align: center;
      font-family: 'PT Sans Italic', sans-serif;
      font-size: 18px;
      font-style: italic;
      max-width: 195px;

      &_service {
         max-width: 350px;
         padding-top: 100px;
      }

   }

   &__text2 {
      font-family: 'PT Sans Bold', sans-serif;
      font-weight: 700;
      padding: 10px;
   }
}


.team {
   background-color: #ebebeb;
   padding: 5%;
}

.team__content {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}

.team__title {
   color: #665f60;
   text-align: center;
}


.team__wrapper {
   width: 100%;
   height: 100%;
   margin-top: 100px;

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;

   @media (max-width: 780px) {
      margin-top: 0;
   }

}

.card {
   background-color: #fff;
   position: relative;
   max-width: 350px;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 22% 1% 5%;

   @media (max-width: 780px) {
      margin: 35% 1% 5%;
   }

   @media (max-width: 580px) {
      margin: 50% 1% 5%;
   }
}


.card__img {
   position: absolute;
   top: -50%;
   left: 14%;
   z-index: 10;

}

.card__img img {
   max-width: 100%;
   overflow: hidden;
}

.card__name {
   color: #9f9acf;
   font-size: 24px;
   font-family: 'Proxima Nova Bold', sans-serif;
   text-transform: uppercase;
   padding: 40% 2% 5%;

}

.card__position {
   color: #665f60;
   font-size: 24px;
   font-family: 'PT Sans Italic', sans-serif;
   flex: 1 1 auto;
   padding: 5% 0 20% 0;

}

.card__footer {
   background-color: #9f9acf;
   width: 100%;
   text-align: center;
   padding: 20px;
}

.card__icon {
   width: 32px;
   height: 32px;
   fill: #fff;
   margin: 0 5px;
}

.card__icon:hover {
   transform: scale(1.2);
   stroke: #b2aeb8;
}

/*
svg.card__icon:hover {
   transform: 
}
*/
@media (max-width: 580px) {

   .card__icon {
      width: 23px;
      height: 23px;
   }

   .team__title {
      margin: 35px 0;
   }
}

.contacts {
   background: url(../images/Map_google.png) 0 0 no-repeat;
   background-size: cover;
   width: 100%;
   padding: 5% 0 5% 5%;

   &__content {
      text-align: center;
   }

   &__title {
      color: #fff;
   }

   &__icon {
      width: 48px;
      height: 52px;

   }

   &__block {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;

   }

   &__phone {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;

      &_icon {
         width: 91px;
         height: 91px;
         background-color: #9f9acf;
         display: flex;
         justify-content: center;
         align-items: center;

         @media (max-width: 580px) {
            width: 61px;
            height: 61px;
         }
      }
   }

   &__arrow {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 100px;

      &_icon {
         width: 91px;
         height: 91px;
         background-color: #9f9acf;
         display: flex;
         justify-content: center;
         align-items: center;

         @media (max-width: 580px) {
            width: 61px;
            height: 61px;
         }
      }
   }
}

.phone__icon {
   width: 25px;
   height: 34px;
   fill: #fff;
}

.arrow__icon {
   width: 36px;
   height: 21px;
   fill: #fff;
}

.contacts .container {
   margin: 0;
   max-width: 1600px;
}

.address {
   display: flex;
   flex-flow: row nowrap;
   justify-content: end;
   align-items: center;
   margin-left: 250px;

   &__icon {
      width: 91px;
      height: 91px;
      background-color: #9f9acf;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__text {
      background-color: #fff;
      opacity: 0.5;
      max-width: 250px;
      max-height: 91px;
      padding: 20px 35px 30px 45px;
   }

   &__text p {
      font-size: 18px;
      font-family: 'PT Sans Regular', sans-serif;
      color: #665f60;
   }
}

.form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 20px;
}

.form__input {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;

}


.input::placeholder {
   font-family: 'PT Sans Italic', sans-serif;
   font-style: italic;
   font-size: 18px;
   line-height: 2;
   color: #fff;
   padding: 25px 100px 25px 10px;
}

.input {
   background-color: #d8d6e0;
   opacity: 0.7;

}

.input__name,
.input__email {

   min-height: 60px;
   max-width: 410px;
   width: 100%;
   padding: 0 10px;
}

.input__name {
   margin: 30px 20px 30px 0;

   @media (max-width: 780px) {
      margin: 30px 0 0 0;

   }
}

.input__email {
   margin: 30px 0 30px 20px;

   @media (max-width: 780px) {
      margin: 30px 0;

   }
}

.input__message {
   min-height: 200px;
   max-width: 860px;
   width: 100%;
   margin: 0 20px;
   padding: 10px;

   @media (max-width: 780px) {
      max-width: 410px;
      min-height: 160px;

   }
}

.form__btn {
   width: 290px;
   height: 70px;
   background-color: #9f9acf;
   color: #fff;
   font-size: 20px;
   line-height: 1.2;
   font-family: 'Proxima Nova Bold', sans-serif;
   text-transform: uppercase;
   margin: 50px 0;
   box-shadow: 1px 5px 2px #8783b0;

   position: relative;
   overflow: hidden;

   @media (max-width: 1180px) {
      width: 220px;
      height: 60px;
      font-size: 18px;

   }

}

.form__btn::after {
   content: "";
   background-color: rgba(81, 81, 240, 0.3);
   border-radius: 50%;
   transition: width 1s ease, height 1s ease;
   position: absolute;
   top: var(--y);
   left: var(--x);
   transform: translate(-50%, -50%);
   height: 0px;
   width: 0px;
   z-index: 10;
}


.form__btn:hover::after {
   height: 300%;
   width: 300%;
}

.footer {
   background-color: #9f9acf;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 70px 240px;

   &__copy {
      color: #fff;
      font-family: 'PT Sans Regular', sans-serif;
      font-size: 18px;
   }

   &__copy span {
      font-weight: 500;
   }
}

.footer__icon .card__icon {
   margin: 0 15px;
}

@media (max-width: 1180px) {

   .footer__icon .card__icon {
      margin: 30px 10px;
   }

   .footer {
      padding: 4.3em;
   }
}

@media (max-width: 780px) {
   .footer {
      flex-direction: column;

      &__copy {
         font-size: 16px;
         text-align: center;
      }
   }

   .footer__icon .card__icon {
      margin: 20px 5px;
   }

   .form__input {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

   }


}

.icon-cheveron-outline-up {
   display: inline-block;
   width: 2em;
   height: 2em;
   stroke-width: 0;
   stroke: currentColor;
   fill: currentColor;

}